# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
### 1 - Python
### 2 - SQL
### 3 - R

## Some of the commonly used libraries used by Data Scientists include:
### 1 - Pandas
### 2 - Matplotlib
### 3 - Numpy

| Data Science Tools |
|---|
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

### This a simple arithmetic expression to mutiply then add integers

In [2]:
(35*58)+27

2057

### This will convert 56752 minutes to hours by diving by 60

In [3]:
56752/60

945.8666666666667

## Objectives:
### 1 - list popular languages
### 2 - list popular libraries
### 3 - list popular tools
### 4 - write arithmetic expressions

## Author:

### Renato Fernandes Borges